
@import url('https://fonts.googleapis.com/css?family=Work+Sans');


/* ==========================================================================
   Steven Jackson's custom styles
   ========================================================================== */

   /*Global*/
   body {
    font-family: 'Work Sans', sans-serif;
  }
  .row {
    margin-right: 0px; 
    margin-left: 0px;     
  }


  /*Global end*/

  /*Header*/
  header { 
    background: url(../img/banner.png) no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  


  


/*div.banner-text {
  font-size: 60px;
color: #6f6c6c;
text-align: center;
    position: relative;
    margin-top: 28%;
    left: 23%;
    display: block;
    }*/



    div.banner-text h1 strong{
      font-size: 70px;

      /*text-align: left;*/
    }

    /*Header end*/

    /*Future Accounting*/
    .future-accounting p {
     font-size: 17px;
     color: #898989;  
   }
   /*Future Accounting end*/

   /*Panel set*/

   section.background-rectangle {
     background: url(../img/background-rectangle.png) no-repeat;
     background-size: cover;
     padding: 6% 0;
   }

   section.background-rectangle h2 {
     font-size: 40px;
     padding: 3% 0;
   }



   .future-accounting p{
    margin: 6% 0px;
  }

  .panel-default{
    border: 0px !important;
    background: transparent;
    box-shadow: none;
  }

  .panel-default>.panel-heading {
    border: 0px !important;
    background: transparent;
    box-shadow: none;
  }
  .panel-footer {
    border: 0px !important;
    background: transparent;
  }

  .panel-body { 
    padding: 10px;
    font-weight: 700;
    font-size: 18px;

  }
  .panel-footer { 
    font-size: 14px;
  }


  /*Panel set end*/

  /*Cards*/
  section.cards {
    /*margin: 2% 0;*/
  }

  section.cards h2{
    margin: 2% 0;
  }
  /*Cards end*/

  /*Callout*/
  section.call-out {
    background-color: #6da23f;
    color: #fff;
    font-size: 24px;
    padding: 20px 0;
  }

  section.call-out h3{
   font-size: 34px;
 }

 /*Callout end*/


 /*Footer*/
 footer {
   background: url(../img/footer-bg.png) no-repeat;
   background-size: cover;
   color: #fff;
 }



 div.button-wrapper {
  padding-top: 1%; 
  margin-left: 15%;
}

a.button {
 padding: 10px 50px;
 color: #fff;
     border-radius: 5px;
 margin: 0 5px;
}

a.button.enquire {
  background-color: #887311;
      border-radius: 5px;
  border: solid #edb800 1px;
}
a.button.home {
  background-color: #606863;
      border-radius: 5px;
  border: solid #ffffff 1px;
}

a.button.home:hover {
  background-color: #606863;
  text-decoration: none;
  border: solid #ffffff 1px;
}
/*Footer end*/

@media screen and (max-width: 531px)  { 

  .button-wrapper {
    margin-left: 0% !important;
    text-align: center;
  }  
  .footer-logo {
    text-align: center;
  }
  
  div.banner-text {
    font-size: 50px;
    color: #6f6c6c;
    text-align: center;
    position: relative;
    margin-top: 28%;
    left: 10%;
    display: block;
  }

  div.banner-text h1 {
    font-size: 40px;
    color: #fff;
    padding: 0px 0 20px 0;
    margin: 0px;
    text-align: left;
  }

  .future-accounting p {
    margin: 0px;
    padding: 20px;
    font-size: 17px;
  }

  section.background-rectangle {
    background: url(../img/background-rectangle.png) no-repeat;
    background-size: cover;
    padding: 5% 0;
  }

  section.cards h2 {
    margin: 2% 0;
    padding: 20px;  
  }

  section.call-out {
    background-color: #6da23f;
    color: #fff;
    font-size: 18px;
    padding: 18px;
  }

  section.call-out h3 {
    font-size: 24px;
  }

  .form-wrapper {
    float: right;
    margin-top: 14%;
    margin-bottom: 4%;
    display: block;
    max-width: 500px;
    /*background: #f7f7f7;*/
    padding: 20px;
  }

  section.background-rectangle h2 {
    font-size: 30px;
    padding: 20px;
  }

  a.button {
    padding: 10px 20px;
    color: #fff;
    margin: 0 5px;
  }

}


@media screen and (max-width: 1253px)  { 

 a.button {
  padding: 10px 20px;
  color: #fff;
  margin: 0 5px;
}

div.button-wrapper {
  padding-top: 1%;
  margin-left: 0%; 
}
}

@media screen and (max-width: 991px)  { 

 div.banner-text {
  font-size: 60px;
  color: #6f6c6c;
  text-align: center;
  position: relative;
  margin-top: 4%;
  left: 8%;
  width: 85%;
  display: block;
}

.form-row {
  float: left;
}

div.inner-footer {
  padding-top: 5%;
  text-align: center
}

}

/*Updated Landing page styles - 14 October 2016*/

nav {background-color: #000; padding: 20px 0;}
nav a{background-color: #000; padding: 20px 0;}
div.banner-text {left: 30%;}
header {min-height: 900px;}
section.cards {background-color:  #ededed;  margin-bottom: -14%;}


.form-wrapper {
  /*float: right;*/
  /*margin-top: 14%;*/
  /*margin-bottom: 39%;*/
  display: block;
  /*max-width: 500px;*/

  /*background: #f7f7f7;*/
  padding: 20px;
/*  -webkit-box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.5);*/
}

.form-wrapper label {
  font-weight: 400;
}

.form-wrapper h2 {
  font-size: 24px;
  padding-bottom: 10px;
}
.form-wrapper .input {
  width: 100%;
  margin-bottom: 10px;
  background: #53545a;
  opacity: 0.7;
  border-radius: 5px;
  /*border-radius: 5px;*/
  padding: 20px 30px;
  height: 60px;
  color: #fff;
  font-size: 14px;
  border: 1px solid #e7e7e7;
}

input::-webkit-input-placeholder{ color: #fff; }
.select::-webkit-input-placeholder{ color: #fff; }

.form-wrapper .select {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  background: #53545a;
  opacity: 0.7;
  /*border-radius: 5px;*/
  -webkit-appearance: none; 
  background: url(../img/dropdown-arrow.png) no-repeat right #53545a;
  padding: 20px 30px;
  height: 60px;
  /*color: #333;*/
  font-size: 14px;
  border: 1px solid #e7e7e7;
}




.form-wrapper .btn {
  width: 100%;
  background: #2ca01c;
  border-radius: 0px;
  font-size: 19px;
  border-radius: 5px;
  height: 60px;
  /*color: #fff;*/
  /*padding: 20px 30px;*/
  /*margin-top: 10px;*/
}
.form-wrapper .btn:hover {
  background: #FFAB33;
}


section.call-out {
  /*background-color: #6da23f;*/
  background: url("../img/footer-bg.png");
  color: #fff;
  font-size: 24px;
  padding: 18% 0 4% 0;;
}

div.inner-footer {
  padding: 3% 0;
  background-color: #000;
}
div.copyright {
  /*padding-top: 5%; */
}

section.future-accounting {
  margin: 4% 0px 0 0;
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(white, #e8e8e8); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, #e8e8e8); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, #e8e8e8); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, #e8e8e8); /* Standard syntax (must be last) */
}

h2 {font-size: 40px; margin-bottom: 50px;}
section.call-out h3 {font-size: 40px;}

a.button.home {
  background-color: #000;
  border: solid #f7941d 1px;
}

a {
  color: #fff;
  text-decoration: none;
}

div.nav-link {
  margin-top: 10px;
}

a.button.nav-home {
  background-color: #000;
  border: solid #f7941d 1px;
}

a.button.nav-home:hover {
  background-color: #606863;
  text-decoration: none;
  border: solid #ffffff 1px;
}

a.button.banner-pricing {
  background-color: transparent;
  font-size: 18px;
  border: solid #2ca01c 1px;
  border-radius: 5px;
  padding: 15px 50px;
}

a.button.banner-pricing:hover {
  background-color: #606863;
  text-decoration: none;
  border: solid #fff 1px;
  border-radius: 5px;

}

a.button.banner-trial {
  background-color: #2a7b21;
  font-size: 18px;
  border: solid #2a7b21 1px;
  border-radius: 5px;
  padding: 15px 50px;
}

a.button.banner-trial:hover {
  background-color: #606863;
  text-decoration: none;
  border: solid #ffffff 1px;
}

section.features {padding-bottom: 5%;}
section.features h2{margin-top: 40px;}
div.first-comp-img {padding-bottom: 2%;}
h3 {font-size: 40px;}
p.second-comp-text {padding-top: 20px;}



.future-accounting p {
 font-size: 17px;
 color: #5f6066;  
}

div.banner-text {
  font-size: 60px;
  color: #6f6c6c;
  text-align: left;
  position: relative;
     margin-top: 28%;
  font-weight: 300;
  left: 32%;
  display: block;
  text-shadow: 1px 1px #000; 
}

div.banner-text h1{
  font-size: 50px;
  color:#fff;
  padding: 0px 0 20px 0;
  margin: 0px;
  text-shadow: 1px 1px #000; 
  /*text-align: left;*/
}

div.logo {
  padding: 0px 0 0 20px;
}

.footer-logo {padding-bottom: 20px !important ;}

.custom-panel .panel-default>.panel-heading {
  border: 0px !important;
  background: transparent;
  box-shadow: none;
  min-height: 71px;
  padding:  0px;
}

.custom-panel .panel-body {
  padding: 0px;
  font-weight: 700;
  font-size: 18px;
  min-height: 78px;
}


.mobile-panel .panel-default>.panel-heading {
  border: 0px !important;
  background: transparent;
  box-shadow: none;
  min-height: 57px;
  padding:  0px;
}

.mobile-panel .panel-body {
  padding: 0px;
  font-weight: 700;
  font-size: 18px;
      min-height: 55px;
}

.mobile-panel .panel-footer {
    font-size: 14px;
    margin-bottom: 30px;
}


@media (max-width: 1366px){
  div.banner-text {
    font-size: 60px;
    color: #6f6c6c;
    text-align: left;
    position: relative;
    margin-top: 28%;
    font-weight: 300;
    left: 40%;
    display: block;
    text-shadow: 1px 1px #000;
  }


  a.button.banner-pricing {
    background-color: #606863;
    font-size: 18px;
    border: solid #2ca01c 1px;
    border-radius: 5px;
    padding: 15px 50px;
  }


  a.button.banner-trial {
    background-color: #2a7b21;
    font-size: 18px;
    border: solid #2a7b21 1px;
    border-radius: 5px;
    padding: 15px 20px;
  }

  a.button.banner-trial {
    background-color: #2a7b21;
    font-size: 16px;
    border: solid #2a7b21 1px;
    border-radius: 5px;
    padding: 15px 20px;
  }


}

@media (max-width: 768px){

  div.banner-text {
    left: 6%;
    text-align: center;

  }

  header { 
    background: url(../img/banner-overlay.png) no-repeat !important;
    background-size: cover;
  }
   .mobile-panel {padding: 20px 0;}
   .mobile-panel .panel-footer {
    font-size: 14px;
    margin-bottom: 0px;
}


}

@media (max-width: 2400px){

  .integrate.img-responsive {
    margin: 0 auto;
  }
  

}




@media (max-width: 520px){

  div.logo {
    padding: 0px 0 20px 20px;
    text-align: center;
  }

  div.nav-link {
    margin-top: 10px;
    text-align: center;
  }

  div.banner-text {
    text-align: center !important;
    left: 0%;
  }

  div.banner-text h1 {
   text-align: center !important;
 }

 h3 {text-align: center;}




}


/*New styles - 12 Dec 2106*/

section.banking {padding-bottom: 5%; background-color: #f5f5f5}
section.banking h2{margin-top: 40px;}
section.banking h2 span{font-weight: 300; font-size: 22px;}
section.banking .panel-body {margin-bottom: 30px;}
section.banking .panel-body span {font-weight: 300;}
section.banking img {max-width: 85px; max-height: 85px;}